<%- include('navbar.ejs') %> 

<div class="container mt-3">
    <div class="row">
        <% for(post of posts) {%>

            <div class="card grid-item" >
                <div class="card-body">
                  <h5 class="card-title"><%= post._title  %> </h5>
                  <p class="card-text"><%= post._detail.slice(0,50)+"..."  %> </p>
                  <a href="/post-detail/<%= post._id %> " class="btn btn-primary">Details</a>
                </div>
             </div>
        
        <% } %>  


    </div>
    
</div>


<%- include('footer.ejs') %> 

